.App {
  text-align: center;
}

.container {
  text-align: center;
  padding: 20px;
  color: white;
  background: linear-gradient(to right, #222, #444);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.container h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.leader-board {
  text-align: center;
  margin-top: 40px;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

thead tr {
  background-color: #ff6600;
  color: #ffffff;
}

th,
td {
  padding: 10px;
  border-bottom: 2px solid white;
}
